
<div class="jumbotron">
<h1>Edit an existing task</h1>


<%= form_for @task do |t| %>

  <%= t.text_field :name, placeholder: 'name' %>
  <%= t.number_field :importance, placeholder: 'importance' %>
  <%= t.submit %>
<% end %>
</div>