<div class="jumbotron">
  <div class="text-center">
    <h1>Choosen tasks: </h1>

    <h2> Task name: <%= @task.name %></h2>
    <p>Task importance: <%= @task.importance %> </p>

    <%= link_to "Back to index", tasks_path %>

  </div>
</div>